version: "3.5"

services:

  prometheus-server:
    image: prom/prometheus:{{ mon_prometheus_ver }}
    container_name: prometheus-server
    hostname: prometheus-server
    restart: unless-stopped
    volumes:
      - "{{ mon_root_dir }}/prometheus-config/:/etc/prometheus/:ro"
      - prometheus-data:/prometheus  # persistence
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d'  # pint complains if this is not set
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    network_mode: host


  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    container_name: cadvisor
    hostname: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk:/dev/disk:ro
      - /var/run/docker.sock:/var/run/docker.sock
    privileged: true
    devices:
      - /dev/kmsg
    network_mode: host
    depends_on:
      - prometheus-server
      - prometheus-grafana
      - prometheus-alertmanager


  prometheus-grafana:
    image: grafana/grafana:{{ mon_grafana_ver }}
    container_name: prometheus-grafana
    hostname: prometheus-grafana
    restart: unless-stopped
    volumes:
      - "prometheus-grafana:/var/lib/grafana:rw"
      - "/root/monitoring-gf-admin-password:/run/secrets/admin_password:ro"
      - "{{ mon_root_dir }}/provisioning/datasources/:/etc/grafana/provisioning/datasources/:ro"
      - "{{ mon_root_dir }}/provisioning/dashboards:/etc/grafana/provisioning/dashboards/:ro"
    network_mode: host
    environment:
      GF_SECURITY_ADMIN_PASSWORD__FILE: "/run/secrets/admin_password"  # if changed, purge the data volume's dir
      GF_PATHS_PROVISIONING: "/etc/grafana/provisioning"
    depends_on:
      - prometheus-server


  prometheus-alertmanager:
    image: prom/alertmanager:{{ mon_alertmanager_ver }}
    container_name: prometheus-alertmanager
    hostname: prometheus-alertmanager
    restart: unless-stopped
    network_mode: host
    command:
      - '--cluster.listen-address='
      - '--config.file=/etc/alertmanager/config.yaml'
      - '--log.level=debug'
    volumes:
      - "{{ mon_root_dir }}/alertmanager/:/etc/alertmanager/"
    depends_on:
      - prometheus-server


volumes:
  prometheus-grafana:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ mon_root_dir }}/{{ mon_grafana_volume }}"

  prometheus-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ mon_root_dir }}/{{ mon_prometheus_volume }}"
