apiVersion: 1
providers:

  - name: Default # A uniquely identifiable name for the provider
    folder: Nodes # The folder where to place the dashboards
    type: file
    options:
      path: /etc/grafana/provisioning/dashboards/nodes

  - name: Docker # A uniquely identifiable name for the provider
    folder: Docker # The folder where to place the dashboards
    type: file
    options:
      path: /etc/grafana/provisioning/dashboards/docker

    # Default path for Windows: C:/Program Files/GrafanaLabs/grafana/public/dashboards
    # Default path for Linux is: /var/lib/grafana/dashboards
