FROM prom/prometheus:{{ mon_prometheus_ver}}
USER root
RUN adduser \
  --system \
  --shell /sbin/nologin \
  --no-create-home \
  --uid {{ getent_passwd[mon_username].1 }} \
  --gid {{ getent_passwd[mon_username].1 }} \
  monitoring

USER {{ mon_username }}
